* {
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Rubik+Doodle+Shadow&display=swap');

:root {
    --main-bg-color:#fbfaf0;
    --main-font:#265073;
    --logo: #9eaba2;
    --teal: rgb(45, 149, 150);
    --btn-bg-color: #042d5a;
    --btn-font-color: #eecc8c;
    --font-style: Comfortaa;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    font-family: Comfortaa;
    color:var(--main-font);
    padding-top: 75px;
}

#navbar {
    position: fixed;
    z-index:1;
    top:0;  
    height: 50px;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.name {
    font-family:Rubik Doodle Shadow; 
    font-size: 2rem;
    margin-left:58px;
    color: var(--teal);

}

#navbar, ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right:58px;
}

ul, li {
    margin: 10px 15px;
}

.nav-list, a {
    color:var(--main-font);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-list a:hover {
    font-size: 1.2rem; 
    border-bottom: 2px solid var(--btn-font-color);
    color: var(--teal);
    transition: all .3s ease-out;
}

section {   
    color: var(--main-font);
    padding: 10px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
}

.home-section {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main-body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom:10%;
}

.main-text {
    font-size: 1.5rem;
}

.span-name { 
    font-family:Rubik Doodle Shadow; 
    font-size: 4.5rem;
    color: var(--teal);
}

.span-dev {
    font-style:italic;
    font-weight:700;
}

.btn-linkedin a {
    color: var(--btn-font-color);
}

.btn-linkedin {
    background-color:var(--btn-bg-color);
    color: var(--btn-font-color);
    padding: 15px;
    margin: 20px 5px;
    width:35%;
    font-size: 1rem;
    font-weight:bold;
    font-family: var(--font-style);
    border: 1px var(--btn-bg-color) solid;
    border-radius: .2rem;
    transition: all .3s ease-out;
    opacity: 0.8;
    cursor: pointer;
}

.btn-linkedin:hover {
    background-color:var(--teal);
    border-radius: 1.5rem;
    padding: 18px;
    width:40%;
    font-size: 1.2rem;
    border: 2px var(--main-bg-color) solid;
    color: var(--btn-font-color);
    opacity: 0.8;
    transition: all .3s ease-out;
}

.projects-section{
    display:flex;
    align-items:center;
    justify-content: center;
}

.projects-section h1 {
    font-size: 3rem;
    color: var(--logo)
}

h1, .cards {
    padding: 22px;
}

.cards {
    display:grid;
    gap: 10px 15px;
    grid-template-columns: auto auto auto;
}

.card {
    height: 250px;
    width: 300px;
    border: 1px solid black;
}